In [37]:
import requests
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from census import Census
import gmaps

api_key = "kV2lYppgddbyaMoNreFR6hxbubjOGddvOoCyFKIG"
api_key2 = "425951fc7a74b45092e6266ba28aec4581a8fee3"

In [6]:
offense = "simple_assault"
ori = "NJ0111100"
variable = "count"
begin_year = 2018
end_year = 2018

url  = f"https://api.usa.gov/crime/fbi/sapi/api/data/arrest/agencies/offense/{ori}/all/{begin_year}/{end_year}?API_KEY={api_key}"

response = requests.get(url).json()
response

{'results': [{'aggravated_assault': 214,
   'all_other_offenses': 1461,
   'arson': 3,
   'burglary': 67,
   'curfew': 32,
   'disorderly': 111,
   'driving': 106,
   'drug_abuse_gt': 1162,
   'drug_poss_m': 346,
   'drug_poss_opium': 216,
   'drug_poss_other': 3,
   'drug_poss_subtotal': 565,
   'drug_poss_synthetic': 0,
   'drug_sales_m': 30,
   'drug_sales_opium': 566,
   'drug_sales_other': 1,
   'drug_sales_subtotal': 597,
   'drug_sales_synthetic': 0,
   'drunkness': 0,
   'embezzlement': 2,
   'forgery': 1,
   'fraud': 2,
   'g_all': 0,
   'g_b': 3,
   'g_n': 0,
   'g_t': 3,
   'ht_c_s_a': 0,
   'ht_i_s': 0,
   'larceny': 92,
   'liquor': 4,
   'manslaughter': 0,
   'mvt': 0,
   'murder': 8,
   'offense_family': 7,
   'prostitution': 19,
   'prostitution_a_p_p': 0,
   'prostitution_p': 10,
   'prostitution_p_p': 0,
   'rape': 6,
   'robbery': 70,
   'sex_offense': 12,
   'simple_assault': 652,
   'stolen_property': 125,
   'suspicion': 0,
   'vagrancy': 0,
   'vandalism': 22,
   'weapons': 164,
   'csv_header': None,
   'data_year': 2018}],
 'pagination': {'count': 1, 'page': 0, 'pages': 1, 'per_page': 0}}

In [13]:
assaults_response = response["results"][0]["simple_assault"]
assaults_response

652

In [20]:
simple_assault_cases = []
stolen_property_cases = []
rape_cases = []
ori_list = ["NJ0111100",
            "NM0260100",
            "NY0010100",
            "NC0920100",
            "ND0080100",
            "OHCOP0000",
            "OK0550400",
            "OR0240200",
            "PA0220200",
            "ND0080100"
            ]

for ori2 in range(len(ori_list)):
    response2 = requests.get(f"https://api.usa.gov/crime/fbi/sapi/api/data/arrest/agencies/offense/{ori_list[ori2]}/all/{begin_year}/{end_year}?API_KEY={api_key}").json()
    try:
        simple_assault_cases.append(response2["results"][0]["simple_assault"])
        stolen_property_cases.append(response2["results"][0]["stolen_property"])
        rape_cases.append(response2["results"][0]["rape"])
    except IndexError:
        simple_assault_cases.append(np.nan)
        stolen_property_cases.append(np.nan)
        rape_cases.append(np.nan)
    # Printing queries
    print(f"Processing record {ori2 + 1}")

print("------")
print("Done")
print("------")

Processing record 1
Processing record 2
Processing record 3
Processing record 4
Processing record 5
Processing record 6
Processing record 7
Processing record 8
Processing record 9
Processing record 10
------
Done
------

In [22]:
print(simple_assault_cases)

[652, 66, 234, nan, 406, 1966, 417, 630, 261, 406]

In [23]:
print(stolen_property_cases)

[125, 43, 35, nan, 53, 139, 34, 37, 38, 53]

In [24]:
print(rape_cases)

[6, 3, 9, nan, 7, 53, 3, 18, 22, 7]

In [30]:
df=pd.DataFrame(list(zip(ori_list, simple_assault_cases, stolen_property_cases, rape_cases)), 
               columns = ['Police Department', "Simple Assault Cases", "Stolen Property Cases", "Rape Cases"])
df

  Police Department  Simple Assault Cases  Stolen Property Cases  Rape Cases
0         NJ0111100                 652.0                  125.0         6.0
1         NM0260100                  66.0                   43.0         3.0
2         NY0010100                 234.0                   35.0         9.0
3         NC0920100                   NaN                    NaN         NaN
4         ND0080100                 406.0                   53.0         7.0
5         OHCOP0000                1966.0                  139.0        53.0
6         OK0550400                 417.0                   34.0         3.0
7         OR0240200                 630.0                   37.0        18.0
8         PA0220200                 261.0                   38.0        22.0
9         ND0080100                 406.0                   53.0         7.0

In [41]:
# Census & gmaps API Keys
c = Census(api_key2, year=2013)

In [42]:
#Code used from in-class instructor presentation
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"), {'for': 'state:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

# Add in Employment Rate (Employment Count / Population)
census_pd["Unemployment Rate"] = 100 * \
    census_pd["Unemployment Count"].astype(
        int) / census_pd["Population"].astype(int)

# Final DataFrame
census_pd = census_pd[["State", "Name", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate", "Unemployment Rate"]]

census_pd.head()

,State,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate
0,01,Alabama,4799277.0,38.1,43253.0,23680.0,870631.0,18.140878,5.040968
1,02,Alaska,720316.0,33.6,70760.0,32651.0,69514.0,9.650487,4.572854
2,04,Arizona,6479703.0,36.3,49774.0,25358.0,1131901.0,17.468409,4.882323
3,05,Arkansas,2933369.0,37.5,40768.0,22170.0,547328.0,18.658682,4.132961
4,06,California,37659181.0,35.4,61094.0,29527.0,5885417.0,15.628107,5.758662

In [46]:
ori_list3 =["AL0030100",
           "AK0010300",
           "AZ0072300",
           "AR0600200",
           "CA0340400",
           "CODPD0000",
           "CT0006400",
           "DE0010100",
           "FL0370300",
           "GAAPD0000"
           ]
female =[]
male =[]
begin_year = 2018
end_year = 2018
print("Beginning Data Retrieval")
print("------------------------")
for ori in range(len(ori_list3)):
    response = requests.get(f"https://api.usa.gov/crime/fbi/sapi/api/police-employment/agencies/{ori_list3[ori]}/{begin_year}/{end_year}?API_KEY={api_key}").json()
    #print(response)
    try:
        print(f"Processing record {ori + 1}")
        female.append(response["results"][0]["female_officer_ct"])
        male.append(response["results"][0]["male_officer_ct"])
    except:
        print("Not found")
        pass
print("------------------------")
print("Data Retrieval Complete")
print("------------------------")

Beginning Data Retrieval
------------------------
Processing record 1
Processing record 2
Processing record 3
Processing record 4
Processing record 5
Processing record 6
Processing record 7
Processing record 8
Processing record 9
Processing record 10
------------------------
Data Retrieval Complete
------------------------

In [49]:
# codes for creating dataframe
officer_df = pd.DataFrame({"Male Officers": male, "Female Officers" : female})
officer_df["Total Number"]=officer_df["Male Officers"]+officer_df["Female Officers"]

In [54]:
officer_df.head(11)

   Male Officers  Female Officers  Total Number
0            380               94           474
1             42                5            47
2           2524              395          2919
3            475              100           575
4            549              102           651
5           1309              208          1517
6            346               48           394
7             95                6           101
8            309               68           377
9           1283              252          1535